@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

/* Formatting Styles */
body {
  padding: 0;
  margin: 0;
  background-color: #9b9b9b;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  background-color: none;
  border-style: none;
}

/* Header */
.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-content {
  height: 0%;
  width: 100%;
  background-color: #fff;
}
/* left side */
.left-content {
  display: flex;
  align-items: center;
}
.left-content img {
  height: 40px;
}
.logo-nav-mobile {
  display: none;
}
.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 5rem 0rem 5rem;
}
.search-input input {
  border-radius: 0.6rem;
  border-style: none;
  padding: 0.7rem;
  padding-right: 4rem;
  transition: background-color 0.4s;
}
.search-input input:hover {
  background-color: #cfcfcf;
}
.search-input img {
  align-items: center;
  height: 20px;
  position: relative;
  left: -15%;
  margin-top: 0.7rem;
}

/* right side */
.right-content {
  display: flex;
  align-items: center;
  justify-content: right;
}
.login-user {
  border-radius: 20%;
  padding: 0.4rem;
  width: 30px;
  transition: filter 0.4s;
  cursor: pointer;
}
.login-user:hover {
  filter: invert(100%);
}

/* Main */
main {
  margin-bottom: 20rem;
}

.hero-slide{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* <!-- Product Sections --> */
/* Product Title */
.see-all-button {
  padding: 1rem;
  width: 40%;
  border-radius: 1.3rem;
}
.navigation-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.navigation-section span {
  margin-left: 14rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bolder;
}

/* Products */
.section-products-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-container {
  margin-left: 0rem;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sw-section {
  margin-bottom: 2rem;
}
.cs-section {
  margin-bottom: 2rem;
}
.dv-section {
  margin-bottom: 2rem;
}
.product-section {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  /* display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}
.product-element {
  padding: 0rem;
  margin-right: 1rem;
  text-align: left;
  border-radius: 0.9rem;
  border: 1px #797979 solid;
  background-color: #c2c2c2;
}
.product-element img {
  width: 13rem;
  border-radius: 0.9rem;
}
.product-element-details {
  margin-left: 1rem;
  margin-top: .8rem;
  display: flex;
  flex-direction: column;
}
.product-name {
  font-weight: bold;
}
.product-price {
  font-size: 0.8rem;
  margin-top: 0.6rem;
  font-weight: normal;
}
.product-element button {
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 1.8rem;
  width: 60%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding: 0.7rem;
  color: #000;
  background-color: #2A7AE4;
  transition: .2s background-color ;
}
.product-element button:hover{
  background-color: #205ba7;
}
a{
  color: #000;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  /* padding: 5rem; */
  height: 2vh;
  width: 100%;
}
.footer-elements-content {
  background-color: #eaf2fd;
  padding: 5rem;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-content {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.footer-content-element {
  padding: 0.3rem;
  color: #000;
}
.footer-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-form span {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer-form input {
  padding: 0.7rem;
  margin-bottom: 1rem;
}
.footer-form button {
  border-radius: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #1044ee;
  color: #fff;
  transition: background-color 0.3s;
  cursor: pointer;
}
.footer-form button:hover {
  background-color: #b1b1b1;
  color: #000;
}

/* MEDIA QUERIES */
/*
@media only screen and (max-width: 1380px)

 @media only screen and (max-width: 1080px)

@media only screen and (max-width: 768px) 

@media only screen and (max-width: 360px)  */
