/* Formatting Styles */
body {
  padding: 0;
  margin: 0;
  background-color: #d3d3d3;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  background-color: none;
  border-style: none;
}

/* Header */
.navbar{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content {
    height: 0%;
  width: 100%;
  background-color: #fff;
}
/* left side */
.left-content {
  display: flex;
  align-items: center;
}
.left-content img {
  height: 40px;
}
.search-input {
  display: flex;
  margin: 0rem 5rem 0rem 5rem;
}
.search-input input {
  padding: 0.7rem;
  padding-right: 4rem;
}
.search-input img {
  align-items: center;
  height: 20px;
  position: relative;
  left: -15%;
  margin-top: 0.7rem;
}

/* right side */
.right-content {
  display: flex;
  align-items: center;
  justify-content: right;
}
.login-user {
  text-align: center;
  background-color: #1044ee;
  color: #fff;
  padding: 0.9rem 3rem 0.9rem 3rem;
  border-radius: 0.6rem;
  transition: background-color 0.4s;
  cursor: pointer;
}
.login-user:hover {
  background-color: #b1b1b1;
  color: #000;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 30rem;
  height: 70vh;
}
.navigation-section {
  display: flex;
  /* align-items: center; */
}
.product-section ul {
  display: flex;
  flex-direction: row;
}
.product-name {
  display: flex;
  flex-direction: row;
}

/* <!-- Product Sections --> */
/* See more section */
.see-all-button {
    position: relative;
    right: -57%;
  }
.see-all-button span {
}
.see-all-button img {
}
.navigation-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
  }
  .navigation-section span {
    font-size: 1.3rem;
    position: relative;
    left: -12%;
  }

/* Products */
/* section{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.sw-section {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}
.cs-section {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}
.dv-section {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}
.product-section {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-section ul {
  justify-content: center;
}
.product-element {
  padding: 0.4rem;
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  /* padding: 5rem; */
  height: 2vh;
  width: 100%;
}
.footer-elements-content {
    background-color: #EAF2FD;
  padding: 5rem;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #0f297e;
}
.footer-content-element {
  padding: 0.3rem;
  color: #fff;
}
.footer-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #1044ee; */
}
.footer-form span {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer-form input {
  padding: 0.7rem;
  margin-bottom: 1rem;
}
.footer-form button {
  border-radius: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #1044ee;
  color: #fff;
  transition: background-color 0.3s;
  cursor: pointer;
}
.footer-form button:hover {
  background-color: #b1b1b1;
  color: #000;
}
